h1 Static#top

#ajax-test1 Ajax:
= form_with url: static_ajax_update_path do |f|
  = f.text_field :data
  = f.submit 'Post Ajax' 

#ajax-test2 Ajax: ほぼJS(jQuery)
= text_field_tag 'static[ajax_data2]'
= button_tag 'Post Ajax', id: 'btn2'

#ajax-test3 Ajax: form送信はRails、受信以降はJS
= form_with url: static_ajax_update2_path, id: 'ajax-request-3' do |f|
  = f.text_field :data
  = f.submit 'Post Ajax'

#ajax-test4 Ajax: ほぼJS(GET利用)
= text_field_tag 'static[ajax_data4]'
= button_tag 'Post Ajax', id: 'btn4'

javascript:
  // Ajax: form送信はRails、受信以降はJS
  $( () => {
    $('#ajax-request-3').on('ajax:success', (e) => {
      const result = $('#ajax-test3');
      result.text(e.detail[0]);
    });
  });

  // Ajax ほぼJS(jQuery)
  $(document).ready( () => {
    $('#btn2').on('click', (e) => {
      e.preventDefault();

      const param = $('#static_ajax_data2').val();

      // CSRFトークンを取得＆セット
      $.ajaxPrefilter( (options, originalOptions, jqXHR) => {
          if (!options.crossDomain) {
            const token = $('meta[name="csrf-token"]').attr('content');
            if (token) {
                 return jqXHR.setRequestHeader('X-CSRF-Token', token);
             }
          }
          debugger
      });

      $.ajax({
        url: `/static/ajax_update2`,
        type: 'POST',
        data: {
          data: param
        }
      })
      .done( (data, textStatus, jqXHR) => {
        var result = $('#ajax-test2');
        result.text(data);
      });
    });
  });

  // Ajax: ほぼJS 
  document.addEventListener('DOMContentLoaded', () => {
    document.getElementById('btn4').addEventListener('click', () => {
      var result = document.getElementById('ajax-test4');
      var xhr = new XMLHttpRequest();
    
      xhr.addEventListener('loadstart', () => { result.textContent = '通信中...'; });
      xhr.addEventListener('load', () => { result.textContent = xhr.responseText; });
      xhr.addEventListener('error', () => { result.textContent = 'サーバエラーが発生しました。'; });

      xhr.open('GET', '/static/ajax_update4/' + encodeURIComponent(document.getElementById('static_ajax_data4').value), true);
      xhr.send(null);
    }, false);
  }, false);
